.view-tag__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    padding-bottom: 1rem;
    height: 80px;
}

.view-tag__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    height: 80px;
}

.view-tag__posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}
