* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
}

a {
    text-decoration: underline;
    color: blue;
}

a:hover {
    text-decoration: none;
}
