/* Drawer */

.drawer {
    position: relative;
    display: block;

    --drawer-closed-size: 30px;
    --handle-margin: 50px;
}

.drawer[open] {
    border-color: #aaa;
}

/* Drawer placements */

.drawer[data-placement="right"] {
    border-left: 1px solid #ddd;
    width: var(--drawer-closed-size);
}

.drawer[data-placement="right"][open] {
    border-color: #aaa;
}

.drawer[data-placement="left"] {
    border-right: 1px solid #ddd;
    width: var(--drawer-closed-size);
}

.drawer[data-placement="left"][open] {
    border-color: #aaa;
}

.drawer[data-placement="top"] {
    border-bottom: 1px solid #ddd;
    height: var(--drawer-closed-size);
}

.drawer[data-placement="top"][open] {
    border-color: #aaa;
}

.drawer[data-placement="bottom"] {
    border-top: 1px solid #ddd;
    height: var(--drawer-closed-size);
}

.drawer[data-placement="bottom"][open] {
    border-color: #aaa;
}

/* Drawer handle */

.drawer__handle {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    border: none;
    background: #fff;
    border-radius: 999px;
    box-shadow: 0 0 0 1px #ddd;

    cursor: pointer;
    height: 28px;
    width: 28px;
}

.drawer__handle::marker {
    display: none;
}

.drawer[open] > .drawer__handle {
    background: #ddd;
}

/* Drawer handle positioning */

.drawer[data-placement="left"] > .drawer__handle {
    top: var(--handle-margin);
    right: 0;
    transform: translateX(50%);
}

.drawer[data-placement="right"] > .drawer__handle {
    top: var(--handle-margin);
    left: 0;
    transform: translateX(-50%);
}

.drawer[data-placement="top"] > .drawer__handle {
    right: var(--handle-margin);
    transform: translateY(50%);
    bottom: 0;
}

.drawer[data-placement="bottom"] > .drawer__handle {
    right: var(--handle-margin);
    transform: translateY(-50%);
    top: 0;
}

/* Drawer handle icon */

.drawer[data-placement="left"][open] > .drawer__handle svg {
    transform: rotateY(180deg);
}

.drawer[data-placement="right"] > .drawer__handle svg {
    transform: rotateY(180deg);
}

.drawer[data-placement="right"][open] > .drawer__handle svg {
    transform: rotateZ(90deg);
}

.drawer[data-placement="top"][open] > .drawer__handle svg {
    transform: rotateZ(270deg);
}

.drawer[data-placement="bottom"] > .drawer__handle svg {
    transform: rotateZ(270deg);
}

.drawer[data-placement="bottom"][open] > .drawer__handle svg {
    transform: rotateZ(90deg);
}

/* Drawer content */

.drawer__content {
    display: inline-block;
    height: 100%;
    width: 100%;
}
